.buttongray, .buttonred, .buttonblue, .buttonorange, .buttongreen, .buttonpurple, .buttonyellow {
	font-family: Arial;
	color: #ffffff;
	font-size: 24px;
	text-align: center;
	-webkit-border-radius: 37px;
	-moz-border-radius: 37px;
	border-radius: 37px;
	-webkit-box-shadow: 2px 4px 8px #666666;
	-moz-box-shadow: 2px 4px 8px #666666;
	box-shadow: 2px 4px 8px #666666;
	text-shadow: 1px 1px 3px #666666;
}

.buttongray:active, .buttonred:active, .buttonblue:active, .buttonorange:active, .buttongreen:active, .buttonpurple:active .buttonyellow:active {
    border: solid #FFFFFF 2px;
}

.buttongray {
	border: solid #857F81 2px;
	background: #aaa; /* for non-css3 browsers */
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#C2BCBE), to(#969093));
	background: -moz-linear-gradient(top, #C2BCBE, #969093);
}

.buttonred {
	border: solid #C92020 2px;
	background: #f33; /* for non-css3 browsers */
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#E01B1B), to(#FF3333));
	background: -moz-linear-gradient(top, #E01B1B, #FF3333);
}

.buttonblue {
	border: solid #1919B3 2px;
	background: #33c; /* for non-css3 browsers */
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#2020C9), to(#4242CF));
	background: -moz-linear-gradient(top, #2020C9, #4242CF);
}

.buttonorange {
	border: solid #DB5C18 2px;
	background: #e72; /* for non-css3 browsers */
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#E0601B), to(#FF7A33));
	background: -moz-linear-gradient(top, #E0601B, #FF7A33);
}

.buttongreen {
	border: solid #18CC00 2px;
	background: #1e0; /* for non-css3 browsers */
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#19D900), to(#1CED00));
	background: -moz-linear-gradient(top, #19D900, #1CED00);
}

.buttonyellow {
	border: solid #E8B92C 2px;
	background: #ef1; /* for non-css3 browsers */
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#E1FF1F), to(#F2E200));
	background: -moz-linear-gradient(top, #E1FF1F, #F2E200);
}

.buttonpurple {
	border: solid #8402C4 2px;
	background: #b2f; /* for non-css3 browsers */
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#A92CE8), to(#B92EFF));
	background: -moz-linear-gradient(top, #A92CE8, #B92EFF);
}

.pushypadding {
	border-spacing: 20px;
}

.blackbg {
	background-color: black;
	color: white;
	width: 94%;
	height: 98%;
	padding: 1% 3%;
}

.errorStyle{
	background-color: red;
	color: white;
	font-size: 16px;
	display: inline;
}
