<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/FeClipse/src/main/java-felix/feclipse/FeClipse.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.ui.favoriteGroups">
<listEntry value="org.eclipse.debug.ui.launchGroup.profile"/>
<listEntry value="org.eclipse.debug.ui.launchGroup.debug"/>
<listEntry value="org.eclipse.debug.ui.launchGroup.run"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.debug.ui.CONSIDER_INHERITED_MAIN" value="true"/>
<booleanAttribute key="org.eclipse.jdt.debug.ui.INCLUDE_EXTERNAL_JARS" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="feclipse.FeClipse"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="org.friendularity.bundle.demo.gmteach"/>
<booleanAttribute key="org.eclipse.jdt.launching.STOP_IN_MAIN" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Xmx20G -XX:MaxPermSize=2G -Dlog4j.debug -Dfelix.config.properties=file:feclipse.properties &quot;-Dcom.hrkind.robot.connections=robot01; 127.0.0.1, robot02; 127.0.0.1, avatar01; 127.0.0.1&quot; &quot;-Dcom.hrkind.demo.behavior.master.source=sheetKey;0ArBjkBoH40tndDdsVEVHZXhVRHFETTB5MGhGcWFmeGc, namespaceSheetNumber;9, directorySheetNumber;8, workBookPath;GluePuma_BehavMasterDemo.xlsx, workBookNamespaceSheet;Nspc.csv, workBookDirectorySheet;Dir.csv&quot;"/>
</launchConfiguration>
